* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, arial;
  font-size: 14px;
}

#app {
  width: calc(100% - 30px);
  margin: 15px auto 0 auto;
  padding-bottom:65px;
}

.button{
  border: 0;
  background-color:#06f;
  color:#FFF;
  padding:5px 10px;
  border-radius:5px;
}

.button i{
  margin-right: 5px;
}

/*
* Output Dir
*/
.output-dir-wrapper{
  background-color: #e8e8e8;
}

.output-dir-wrapper .button{
  border-radius: 5px 0 0 5px;
}

/*
* Upload Wrapper
*/
.upload-wrapper {
  width: 100%;
  height: 200px;
  background-color: #06f;
  margin-bottom: 15px;
  margin-top:15px;
  color:#FFF;
}

.upload-wrapper #upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-wrapper label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.upload-wrapper label .inner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.upload-wrapper label .inner i{
  font-size:80px;
}

.upload-wrapper label .inner span{
  display: block;
  font-size: 20px;
}

/*
* File Lists
*/
#filelist table{
  width:100%;
  border:1px solid #e8e8e8;
  border-collapse:collapse;
}

#filelist table th,
#filelist table td{
  padding:10px 0;
  border-bottom:1px solid #e8e8e8;
}

#filelist table th{
  text-align: left;
}

#filelist table th.status,
#filelist table td.status{
  width: 40px;
}

#filelist table td.status{
  text-align:center;
}

#filelist table td.status img{
  width:25px;
}

#filelist table th.name,
#filelist table td.name{
  width: 30%;
}

#filelist table tr:nth-child(even){
  background-color:#f7f7f7;
}

/*
* Footer
*/
footer{
  position:fixed;
  bottom:0;
  width:100%;
  padding:15px 0;
  background-color:#f7f7f7;
}

footer .container{
  display:-webkit-flex;
  display:flex;
  -webkit-justify-content:space-between;
          justify-content:space-between;
  -webkit-align-items:center;
          align-items:center;
  padding:0 15px;
}
