@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2iqwi7');
  src:  url('fonts/icomoon.eot?2iqwi7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2iqwi7') format('truetype'),
    url('fonts/icomoon.woff?2iqwi7') format('woff'),
    url('fonts/icomoon.svg?2iqwi7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e900";
}
.icon-folder:before {
  content: "\e902";
}
.icon-settings:before {
  content: "\e903";
}
.icon-trash:before {
  content: "\e904";
}
.icon-x:before {
  content: "\e905";
}
.icon-upload:before {
  content: "\e901";
}
